#navbar {
	background: white;
	position: sticky;
	top: 0;
}

#navbar ul {
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	overflow: hidden;
}

#navbar li {
	float: left;
}

#logo {
	max-width: 400px;
	display: block;
	float: left;
}

#navbar li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 28px;
}

#navbar li a:hover {
	background-color: #182b49;
	color: white;
}

div {
	width: 100%;
	display: inline-block;
}

#s1, #s3 {
	background-color: rgb(245, 240, 230);
	scroll-margin-top: 170px;
	padding: 15px;
}

#s2 {
	background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
	color: white;
	scroll-margin-top: 170px;
	padding: 15px;
}

#s1 p,
#s2 p {
	font-size: 28px;
}

#s1 h2, 
#s2 h2, 
#s3 h2 {
	font-size: 28px;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

.grid-item {
	background-color: #182b49;
	color: white;
	max-height: 500px;
	overflow: scroll;
	font-size: 28px;
}
