*,
*::before,
*::after {
	box-sizing: border-box;
}

#navbar {
	background: white;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#navbar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	display:  flex;
	width: 100%;
}

/* #navbar li {

} */

#logo {
	max-width: 400px;
	display: block;
	height: auto;
	width: auto;
}

#navbar li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 28px;
}

#navbar li a:hover {
	background-color: #182b49;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

div {
	display: inline-block;
	padding: 5px;
}

#s1, #s3 {
	background-color: rgb(245, 240, 230);
	max-width: 100%;
}

#s2 {
	background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
	color: white;
	max-width: 100%;
}

#s1, #s2, #s3 {
	scroll-margin-top: 135px;
}

#s1 p,
#s2 p {
	font-size: 28px;
}

#s1 h2, 
#s2 h2, 
#s3 h2 {
	font-size: 28px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	max-width: 98%;
}

.grid-item {
	background-color: #182b49;
	color: white;
	max-height: 500px;
	overflow: scroll;
	font-size: 28px;
}

body {
	overflow-x: hidden;
}


@media screen and (max-width: 800px) {

    /* Remove Navbar Links */
    #navbar ul {
        display: none;
    }

	#navbar {
		position: fixed;
		top: 0;
		width: 100%;
	}

    /* Adjust Top Logo Size */
    #logo {
		top: 0;
        max-width: 75%;
		background-color: white;
    }

    /* Adjust Header Font Size */
    h2 {
        font-size: 24px;
    }

    /* Adjust Paragraph Font Size */
    p {
        font-size: 20px;
    }

    /* Change Grid to 2 Columns */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

	body {
		margin-top: 150px;
	}
}